{% macro doingBlock(doing) -%}
    <div class="doing-details">
        <h3 class="doing-name">{{ doing.name }}</h3>
        <span class="doing-role">{{ doing.role }}</span>
        <span class="doing-times">
            <time>{{ doing.start_time }}</time> 
            {% if doing.end_time is defined %}
                - <time>{{ doing.end_time }}</time>
            {% endif %}
        </span>
    </div>
    <ul class="bullets">
        {% for bullet in doing.bullets %}
        <li>{{ bullet }}</li>
        {% endfor %}
    </ul>
{%- endmacro %}

{% macro educationBlock(degree) -%}
    <div class="doing-details">
        <h3 class="doing-name">{{ degree.name }}</h3>
        <span class="doing-role">{{ degree.degree }}</span>
        <span class="doing-times">
            Graduated <time>{{ degree.end_time }}</time>
        </span>
    </div>
    {% if degree.gpa is defined %}
        <div class="gpa">
            {{ degree.gpa }}
        </div>
    {% endif %}
{%- endmacro %}

{% macro coursesBlock(skills) -%}
    <ul class="skill-list">
        {% for skill in skills %}
            <li class="skill">{{ skill }}</li>
        {% endfor %}
    </ul>
{%- endmacro %}

{% macro skillsBlock(skills) -%}
    <div class="skills-container">
        {% for category in skills %}
        <div class="skills-list-wrapper">
            <h3>{{ category }}</h3>
            <ul class="skill-list">
                {% for skill in skills[category] %}
                    <li class="skill">{{ skill }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
    </div>
{%- endmacro %}

<!-- An event is just a doing without associated bullets. -->
{% macro eventBlock(event) -%}
<div class="doing-details">
    <h3 class="doing-name">{{ event.name }}</h3>
    <span class="doing-role">
        {{ event.role }}
    </span>
    <span class="doing-times">
        <time>{{ event.start_time }}</time>
        {% if event.end_time is defined %}
            - <time>{{ event.end_time }}</time>
        {% endif %}
    </span>
</div>
{%- endmacro %}