<h2>Education</h2>
<h3>University of Massachusetts Amherst</h3>
<span>B.S. in Computer Science</span> <!-- TODO: Improve semantics on this et. al.-->
<span>May 2022</span>
<span>GPA: TODO</span>
<h2>Relevant Coursework</h2>
<ul>
    <li>Algorithms</li>
    <li>Data Structures</li>
    <li>Intro to Computer Systems (Unix / C)</li>
    <li>Reasoning Under Uncertainty (Statistics)</li>
    <li>Make (Arduino / Electronics)</li>
    <li>Artificial Intelligence</li>
    <li>Human Computer Interaction</li>
    <li>Operating Systems</li>
    <li>Calculus III</li>
    <li>Intro to Software Engineering</li>
    <li>Inside the Box (Architecture / ARM)</li>
    <li>Linear Algebra</li>
    <li>Intro to Computation (Discrete Math)</li>
    <li>Programming Methodology</li>
</ul>