<h2>Hackathons</h2>
<h3>Surchengine.net</h3>
<span>HackUMass 2019 Participant</span>
<span>
    <time datetime="2019-10">October 2019</datetime>
</span>
<ul>
    <li>Worked for 36 hours with a partner to build a search engine targeting phishing, scam, and malware websites.</li>
    <li>Used Vue.js, Node, SQL, and headless Chrome to index and take screenshots of websites from common blocklists.</li>
</ul>
<h3>Punchcards.py</h3>
<span>HackHolyoke 2018 Participant</span>
<span>
    <time datetime="2018-11">November 2018</time>
</span>
<ul>
    <li>Collaborated with a partner over 24 hours to write a web-app based scanner to remotely load code from punch cards using Python and OpenCV.</li>
</ul>
<h3>Mothmobile</h3>
<span>Best Robotics Hack, HackUMass 2018</span>
<span>
    <time datetime="2018-10">October 2018</time>
</span>
<ul>
    <li>Worked with a small team over 36 hours to build a wheeled Arduino-based robot which mimicked a moth's response to light, winner Best Robotics Hack at HackUMass 2018.</li>
</ul>