<!doctype html>

<html>
    <head>

    </head>
    <body>
        <h1>Adam Tassara Powell</h1>
        {% include "sections/contact_info.html" %}
        {% include "sections/education.html" %}
        {% include "sections/technical_skills.html" %}
        {% include "sections/internships.html" %}
        {% include "sections/projects.html" %}
        {% include "sections/hackathons.html" %}
        {% include "sections/leadership.html" %}
        {% include "sections/competitions.html" %}
    </body>
</html>