<!doctype html>

<html>
    <head>

    </head>
    <body>
        <h1>Adam Tassara Powell</h1>
        <ul>
            <li>Amherst, MA / Arlington, MA</li>
            <li>(781)507-6553</li>
            <li>atpowell99@gmail.com</li> <!-- TODO: Create professional email address -->
            <li><a href="https://github.com/adamtpowell">github.com/adamtpowell</a></li>
        </ul>
        <h2>Education</h2>
        <h3>University of Massachusetts Amherst</h3>
        <span>B.S. in Computer Science</span> <!-- TODO: Improve semantics on this et. al.-->
        <span>May 2022</span>
        <span>GPA: TODO</span>
        <h2>Relevant Coursework</h2>
        <ul>
            <li>Algorithms</li>
            <li>Data Structures</li>
            <li>Intro to Computer Systems (Unix / C)</li>
            <li>Reasoning Under Uncertainty (Statistics)</li>
            <li>Make (Arduino / Electronics)</li>
            <li>Artificial Intelligence</li>
            <li>Human Computer Interaction</li>
            <li>Operating Systems</li>
            <li>Calculus III</li>
            <li>Intro to Software Engineering</li>
            <li>Inside the Box (Architecture / ARM)</li>
            <li>Linear Algebra</li>
            <li>Intro to Computation (Discrete Math)</li>
            <li>Programming Methodology</li>
        </ul>
        <h2>Technical Skills</h2>
        <ul>
            <li>Python</li>
            <li>Javascript</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>Node.js</li>
            <li>Java</li>
            <li>C#</li>
            <li>PHP</li>
            <li>C</li>
            <li>SQL</li>
            <li>Lua</li>
            <li>Linux</li>
            <li>Docker</li>
            <li>Git</li>
        </ul>
        <h2>Internships</h2>
        <h3>Verity Software House</h3>
        <span>Front End Development Intern</span>
        <span>
            <time datetime="2019-8">August</time> - <time datetime="2019-9">September 2019</time>
        </span>
        <ul>
            <li>Independently rewrote the legacy front end of a classic ASP site, decreasing load time by 30% while adding mobile
                support and modernizing the visual design.</li>
        </ul>
        <h2>Projects</h2>
        <h3>BA-T BASIC</h3>
        <span>Developer</span>
        <span>
            <time datetime="2017-12">December 2017</time> - <time datetime="2018-4">April 2018</time>
        </span>
        <ul>
            <li>Built a BASIC Development Environment in Javascript, with a text and font editor, that allows users to create games in
                the browser.</li>
            <li>Designed a single pass compiler to convert BASIC code into instructions for a stack based virtual machine.</li>
        </ul>
        <h3>Onehourgamejam.com</h3>
        <span>Contributor</span>
        <span>
            <time datetime="2019-3">March</time> - <time datetime="2019-4">April 2019</time>
        </span>
        <ul>
            <li>Revamped the theme voting system and administrative functions of an open-source PHP game jam website.</li>
            <li>Independently discovered a vulnerability on the site which allowed attackers to operate administrative functions from
                malicious webpages and fixed the issue by modifying session code to add a randomized token to forms.</li>
        </ul>
        <h2>Hackathons</h2>
        <h3>Surchengine.net</h3>
        <span>HackUMass 2019 Participant</span>
        <span>
            <time datetime="2019-10">October 2019</datetime>
        </span>
        <ul>
            <li>Worked for 36 hours with a partner to build a search engine targeting phishing, scam, and malware websites.</li>
            <li>Used Vue.js, Node, SQL, and headless Chrome to index and take screenshots of websites from common blocklists.</li>
        </ul>
        <h3>Punchcards.py</h3>
        <span>HackHolyoke 2018 Participant</span>
        <span>
            <time datetime="2018-11">November 2018</time>
        </span>
        <ul>
            <li>Collaborated with a partner over 24 hours to write a web-app based scanner to remotely load code from punch cards using Python and OpenCV.</li>
        </ul>
        <h3>Mothmobile</h3>
        <span>Best Robotics Hack, HackUMass 2018</span>
        <span>
            <time datetime="2018-10">October 2018</time>
        </span>
        <ul>
            <li>Worked with a small team over 36 hours to build a wheeled Arduino-based robot which mimicked a moth's response to light, winner Best Robotics Hack at HackUMass 2018.</li>
        </ul>
        <h2>Leadership</h2>
        <h3>Minuteman High School Advisory Board</h3>
        <span>Student / Alumni Member</span>
        <span><time datetime="2017-9">September 2017</time> - <time datetime="MONTH_PRESENT">present</time></span>
        <ul>
            <li>Worked as the student / alumni member in a team with industry professionals, higher education representaives, and high schools teachers.</li>
            <li>Advised the Minuteman High School Programming and Web Development program on changes to the curriculum.</li>
        </ul>
        <h2>Other Competitions</h2>
        <h3>SkillsUSA</h3>
        <span>Two-time national bronze medalist for Web Design and Development</span>
        <span><time datetime="2017">2017</time> - <time datetime="2018">2018</time></span>
        <h3>Ludum Dare Game Jam Compo</h3>
        <span>Seventh place out of over one thousand entries in category "Overall."</span>
        <span><time datetime="2018">2018</time></span>
    </body>
</html>